.heading {
    font-family: 'pixel';
    font-size: 2rem;
    color: black;
}

.level-item {
    display: inline-block
}

a {
    text-decoration: none;
    color: black
}

#topnav {
    margin-bottom: 0;
}