#search {
    min-height: 20rem;
    bottom:0;
}

#SearchForm {
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

.searchinput select:focus {
    border-color: #ce9212 !important;
}

#search-results {
    padding-bottom: 1rem;
}